<%- include('header') -%>

<div class="text-center center" style="margin-top: 50px;"><h2>Register</h2></div>
<p></p>
e
 
<div class="container w-25 border py-5 text-center">
    <form action="/add" method="post" enctype="multipart/form-data">
        
        <div class="mb-3 ">
            <!-- <label for="email1" class="form-label">Email</label> -->
            <input type="file" name="image"/>
        </div>
        <div class="mb-3 ">
            <!-- <label for="email1" class="form-label">Email</label> -->
            <input class="form-control" type="text" name="name" id="email1" placeholder="Name"/>
        </div>
        <div class="mb-3 ">
            <!-- <label for="email1" class="form-label">Email</label> -->
            <input class="form-control" type="email" name="email" id="email1" placeholder="Email"/>
        </div>
        <div class="mb-3">
            <!-- <label for="password1" class="form-label">password</label> -->
            <input class="form-control" type="number" name="number" id="number1" placeholder="Number"/>
        </div>
        <div class="mb-3">
            <!-- <label for="password1" class="form-label">password</label> -->
            <input class="form-control" type="country" name="country" id="country1" placeholder="country"/>
        </div>
        <div class="mb-3">
            <!-- <label for="password1" class="form-label">password</label> -->
            <input class="form-control" type="text" name="state" id="state1" placeholder="State"/>
        </div>
        <div class="mb-3">
            <!-- <label for="password1" class="form-label">password</label> -->
            <input class="form-control" type="text" name="city" id="state1" placeholder="City"/>
        </div>
        <div class="mb-3">
            <!-- <label for="password1" class="form-label">password</label> -->
            <input class="form-control" type="text" name="zipcode" id="state1" placeholder="ZipCode"/>
        </div>
        <div class="mb-3">
            <!-- <label for="password1" class="form-label">password</label> -->
            <input class="form-control" type="text" name="address" id="state1" placeholder="Address"/>
        </div>
        <div class="mb-3">
            <button class="btn btn-secondary" type="submit">Add User</button>

        </div>
    </form>
</div>

<%- include('footer') -%>
